<h3>Afficher les commentaires</h3>

<% @post.comments.each do |comment| %>
  <div class="well" >
    <p>
      <strong> <%= comment.username %> </strong>
      <%= comment.body %> 
      <%= link_to '[X]',
         [comment.post, comment],
          method: :delete,
          data: { confirm: "t'es sure? " }
      %> 
    </p>
  </div>

<% end %>